<ion-header>
  <ion-toolbar>
    <ion-title>Add</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs/helping']">
        <ion-icon slot="icon-only" name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Add New Item</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- 表单内容将在后续开发中添加 -->
      <p>The list for adding a new project will be placed here</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Featured Items</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- 特色项目列表将在后续开发中添加 -->
      <p>The list of featured items will be displayed here</p>
    </ion-card-content>
  </ion-card>
</ion-content>